/* import 'inter' google font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* Resetting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}

.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.downloadBar {
    align-self: flex-end;
}