.artistImg {
    border-radius: 10px;
    width: 10%;
}

.artistSubP {
    display: flex;
    justify-content: space-between;
}

.artistSubP p {
    margin-right: 1vw;
}

@media only screen and (max-width: 480px) {

    .artistImg {
        height: 30%;
        width: 30%
    }

    .artistSubP {
        display: none;
    }
}