/* import 'inter' google font */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* import arrow icon */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/* Resetting */
* {
    margin: 0;
    padding: 0;
    color: #28363D;
    box-sizing: border-box;
    font-family: 'Inter', 'sans-serif';
}


/*
Section for selection bar
*/

.container {
    display: inline-flex;
    width: 94%;
    margin: 0 3%;
    border-bottom: 1px solid #28363D;
    justify-content: space-between;
    padding-top: 7vh;
    z-index: 1;
}

.selected {
    border: none;
    border-radius: 4px 4px 0 0;
    color: #DEE1DD;
    background-color: #2F575D;
    font-size: 1.4vw;
    font-weight: 400;
    padding: 10px 30px;
    z-index: 2;
}

.unselected {
    border: none;
    background-color: transparent;
    font-size: 1.4vw;
    font-weight: 200;
    transition: all 0.15s ease-out;
}

.unselected:hover {
    border: none;
    border-radius: 4px 4px 0 0;
    color: #DEE1DD;
    background-color: #6D9197;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 30px;
}

/*
Section for download bar
*/
.downloadBarContainer {
    display: flex;
    width: 100%;
    height: 7vh;
    border-top: 1px solid #658B6F;
    margin-top: auto;
    justify-content: flex-end;
    align-items: center;

}

.downloadBttn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2F575D;
    border: none;
    border-radius: 5px;
    width: 20vw;
    height: 5vh;
    padding: 10px 60px;
    margin-right: 3vw;
    transition: all 0.25s ease-in;
    overflow: hidden;
}

.downloadBttn span,
.downloadBttn i {
    transition: display 0.25s ease-in;
}

.downloadBttn span {
    color: #DEE1DD;
}

.downloadBttn i {
    display: none;
    font-size: 1.5vw;
    font-weight: 200;
    color: #DEE1DD;
}

.downloadBttn:hover {
    background-color: #6D9197;
}

.downloadBttn:hover span {
    display: none;
}

.downloadBttn:hover i {
    display: flex;
}